ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body * {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(
    100%
  ); /* stylelint-disable-line property-no-vendor-prefix */
  clip-path: inset(100%); /* stylelint-disable-line indentation */
  white-space: nowrap;
}
